<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/js/JavaScript.js"></script>
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <div id="header-wrap">
        <div id="header" class="row">
            ::before
            <span id="logo">@Html.ActionLink("Kory Skarbek", "Index", "Home")</span>
            <div id="nav">
                <ul class="navbar-nav mr-auto">
                    <li>
                        @Html.ActionLink("About", "AboutMe", "Home")
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @Html.ActionLink("Log Out", "LogOff", "Account")
                        </li>
                    }
                    else
                    {
                        <p>@Html.ActionLink("Register", "Register", "Account")</p>
                        <p>@Html.ActionLink("Login", "Login", "Account")</p>
                    }
                </ul>
            </div>
            ::after
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
