<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/js/JavaScript.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav-id">
        <div class="collapse navbar-collapse" id="header">
            <ul class="navbar-nav mr-auto">
                <li>
                    <span id="logo">@Html.ActionLink("Kory Skarbek", "Index", "Home")</span>
                </li>
                <li class="links">
                        <span>@Html.ActionLink("Home", "Index", "Home")</span>
                </li>
                <li class="links">
                    <span>@Html.ActionLink("About", "AboutMe", "Home")</span>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="links">
                    <span>@Html.ActionLink("Projects", "MyProjects", "Home")</span>
                </li>
                <li class="links">
                    <span>@Html.ActionLink("Contact Me", "ContactInfo", "Home")</span>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
<div class="footer">
    @if (User.Identity.IsAuthenticated)
        {
        <div class="login-register">
            @Html.ActionLink("Log Out", "LogOff", "Account")
        </div>
    }
    else
    {
        <div class="login-register">
            @Html.ActionLink("Register", "Register", "Account")
            @Html.ActionLink("Login", "Login", "Account")
        </div>

    }
</div>